.chatContent{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            "allChat headerChat"
            "allChat messagesFromChat";
}
.allChat  { grid-area: allChat ; padding: 10px;}