.gridWrapper{
    display: grid;
    grid-template: [starts] "header" "header" "header" 500px [main]
[main]"navigationMenu content content" 500px [footer]
[footer]"footer footer footer" 100px[footer-end];
    margin: 0 auto;
    width: 1620px;
    grid-template-areas:
            "header header header"
            "navigationMenu content content"
            "footer footer footer";
}
.gridWrapper-content{
    grid-area: content;
    background-color: burlywood;
    background-image: url("https://images.unsplash.com/photo-1538373436648-7d2beb1d5d51?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
}
*{
    padding: 0;
    margin: 0;
    /*#DBDA76*/
    /*        #DB6060*/
    /*        #4BA3DB*/
    /*        #386D8F*/
}
